body{
    background-color: rgb(22, 22, 23); color: rgb(255, 255, 255);
    margin: 0;

}

header{
    background-color: rgb(144 146 149); color: black;
    border: none;
    box-shadow: 0 0 15px 3px rgb(144 146 149);

}

footer{
    background-color: rgb(144 146 149); color: black;
    border: none;
    box-shadow: 0 0 15px 3px rgb(144 146 149);
}

.smh{
    text-align: center;
    color: rgb(57, 50, 14);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
}

.linkssm{
    list-style-type: none;
    margin-left: ;  
    margin-right: 50px;
    letter-spacing: 10px;
    text-align: center;
}

.icons{
    display: inline-block;
    margin-top: 2px;
    
}

.expr, .bio, .hobby{
    margin: 50px;
    
}

.connect{
    margin: 50px;
    text-align: right;
}

.hobby{
    list-style-position: inside;
}

h1{
    text-align: center;
    color: gold;
    letter-spacing: 5px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
}

h3{
    color: #ffecb3;
}

h4{
    color: #ffecb3;
}

table{
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: ;
    border: 3px solid gold;
    width: 550px;
}

.friendly{
    text-align: center;
    text-transform: uppercase;
    word-spacing: 3px;
}
